/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cordova
/src-cordova/platforms
/src-cordova/plugins
/public/cordova.js

# gitignore from GitHub
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
src/_drafts
package-lock.json

# Replaced by get_ip.js
/src/helpers/api-config.js